* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #001d4a;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #8FFFFF;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #8FFFFF;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
  color: #f9f8ff;
}

header {
  background-color: white;
  padding: 20px 50px;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}

.pictures-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lien-conteneur-pictures:hover .pictures-hover {
  display: flex;
  opacity: 1;
}

.lien-conteneur-pictures {
  position: relative;
}




@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  header {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

